body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #465E73;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F2F2F2;
  color: #0D0D0D;
}

.active {
  background-color: #6A8FA6;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size:15px
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.brokenstuff1{
  font-size:15px;
}




.upgrade_wrapper{
background-color: #465E73;
border-radius: 14px;
margin:100px 40px 40px;
padding:15px;
}