.update_profile_form_wrapper{
  display: flex;
  justify-content: center;

  width: 100%;
}


.update_profile_form{

  background-color: #0E254B;
  border-radius: 14px;
  margin:100px 40px 40px;
  padding:15px;
  width:50%;
  color:#FFDD27;

  
}
.save_profile{
  margin-top: 10px;
  width:100px;
  height: 50px;
}
