/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ahahdlfkahs;efkha;woeifhjalioeaiowejngl;aiejg;aoierkfgnaiernken;lknj;aknjg;aorh;kenjloknglagr */

  
  /* aajhskdfawieeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */



.dashboard_wrapper{
  background-color: #0D0D0D;
  height: 100vh;
  color:#F2F2F2;
}
button{
    border-radius: 7px;
    background-color: #111C26;
    color:#F2F2F2;
}



.waitlist_invisible{
    display:none
}
.waitlist_visible{
background-color: #465E73;
border-radius: 10px;
padding:8px;
}

.waitlist_visible th, tbody, tr{
  padding:15px;
}
/* .waitlist_visible tr{
  padding:15px;
  margin:65px;
} */

.dash_profile_wrapper{
    height: 60px;
    background-color: #0D0D0D;
    display: flex;
}

.dash_profile_wrapper img {
    
    background-color: red;
}
.dash_profile_wrapper p{
    color: pink;
}
.the_ps{
    display:flex;
    flex-direction: column;
}
.the_ps p{
    margin:5px;
    color:#F2F2F2;
    text-align: left;
}
.dash_pic img{
    height:100%;
}




.new_waitlist{
  background-color: #465E73;
  border-radius: 10px;
  padding:15px;
}

select{
  background-color: #111C26;
  color:#F2F2F2;
}