.login_page{
    height: 100vh;
    display: grid;
    grid-template-columns:20% 60% 20%;
    grid-template-rows: 30% 40% 10% 30%;
    align-items: center;
    justify-items: center;
    background-color: #0D0D0D;
}
.whatever{
    background-color: #465E73;
    grid-column-start:2;
    grid-row-start:2;
    height: 100%;
    border-radius: 14px;
   
}
.logo_wrapper{
    height: 100%;
   
}
.logo_wrapper img{
    padding:10px;
}
.car_logo{
    height:100%;

}

.login_btn{

    align-items: center;
    justify-items: center;
}
.login_btn button{
    border-radius: 7px;
    background-color: #111C26;
    color:#F2F2F2;
}

.login_text{
    height: 90%;
    grid-column-start:2;
}
.welcome_intro{
    margin-top:35px;
    font-size: 30px;
    margin-bottom: 10px;
}
.login_button_wrapper{
    grid-column-start: 2;
    width:100%

}
.login_btn button{
    width: 100px;
    height: 50px;
    font-size: 25px
}