.login_page{
    height: 100vh;
    display: grid;
    grid-template-columns:20% 60% 20%;
    grid-template-rows: 30% 40% 10% 30%;
    align-items: center;
    justify-items: center;
    background-color: #0D0D0D;
}
.login_box{
    background-color: #465E73;
    grid-column-start:2;
    grid-row-start:2;
    height: 100%;
    border-radius: 14px;
   
}
.logo_wrapper{
    height: 90%;
    grid-column-start:3;
    grid-row-start:2;
}
.car_logo{
    height:100%;

}

.login_btn{

    align-items: center;
    justify-items: center;
}
.login_btn button{
    border-radius: 7px;
    background-color: #111C26;
    color:#F2F2F2;
}
.logo_wrapper img{
    padding:10px;
}