.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}















.nav {
  background-color: #28282A;
  height: 70px;
  padding: 0 85px;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nav-mobile {
  display: none;
  color: white;
  position: relative;
  background: #fed136;
  padding: 15px 20px;
  border-radius: 5px;
}
@media (max-width: 1152px) {
  .nav-mobile {
    display: block;
  }
}
.nav-mobile span {
  position: absolute;
  right: 3px;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.logo {
  height: 50px;
  color: #fed136;
  font-size: 20px;
  font-family: 'Helvetica Neue',Helvetica,Arial,cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo img {
  height: 100%;
}

.links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 1152px) {
  .links {
    display: none;
  }
}

.link {
  margin-right: 30px;
  cursor: pointer;
}
.link:hover {
  color: #fed136;
}
.link:last-of-type {
  margin-right: 0;
}
