.waitlist_wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.user_waitlist_display{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #0E254B;
    color:#FFDD27;
    width:50%;
}

@media (max-width:450px){
    .user_waitlist_display th, tr{
    font-size:12px;
}
}